:host {
  all: initial;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

div:focus {
  outline: none;
}

button {
  all: unset;
  cursor: pointer;

  &:focus {
    outline: -webkit-focus-ring-color auto 1px;
  }
}

input {
  all: unset;

  &:focus {
    outline: -webkit-focus-ring-color auto 1px;
  }
}
