.footer {
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
  right: 0.5em;
  padding: 0.25em;
  display: flex;
  border-radius: 0.25em;
  color: var(--bg-color);
  background-color: hsla(var(--font-hsl), 0.5);
  backdrop-filter: blur(0.25em);
  z-index: 1;

  &__icon {
    display: grid; // fix outline size
    padding: 0.25em;

    & > svg {
      width: 1.5em;
      height: 1.5em;
    }
  }

  &__search {
    border: 0;
    background-color: transparent;
    flex: 1;
    padding: 0.25em;

    &::placeholder {
      color: var(--bg-color);
    }
  }
}
